.idea
.DS_Store
.git
package-lock.json
yarn.lock

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


node_modules
src
project.config.json
project.private.config.json
gulpfile.js
tsconfig.json