.li-image {
  --width: 100%;
  --heigth: 100%;
  --bgColor: #f7f7f7;
  --radius: 0;

  display: flex;
  position: relative;
  background: var(--bgColor);
  border-radius: var(--radius);
  overflow: hidden;
  height: var(--height);
  width: var(--width);

  .image {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    position: relative;
    z-index: 9;
  }

  &.round {
    height: var(--height);
    width: var(--width);
    border-radius: 50%;
    overflow: hidden;
  }

  .loading,
  .error {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dcdede;
  }
}
